*~
# files to be excluded from tracking by Git
target
.classpath
.project
.settings
bin
# the Mac .DS_Store directory
.DS_Store
# all files with 'cache' in the name should be ignored
*.cache.*
*.class
war/WEB-INF/classes
