/** Add css rules here for your application. */

.widePanel {
	width: 100%
}
img {
	margin-top: 20px;
}
.uploadTextAlign {
	text-align: center;
	color: #2062B8;
	font-style: bold;
}

.upldContainer {
	margin-top: 6px;
	margin-bottom: 10px;
}

}