/** Add css rules here for your application. */

.iptol_portal {
	background : #ffffff;
}

.iptol_header {
	background :url('./images/header_bg.jpg') no-repeat ;
}
.iptol_toolbar {
	background : #0B9B9D;
	padding : 5px;	
}

.iptol_logo {
	padding-left: 250px;
}

.iptol_footer {
	background :url('./images/foot_graphic.jpg') repeat-x ;
}

.upload_Button .gwt_Button {
	padding-top: 5px;
}

.upload_Panel {
	padding-top : 0px;	
}

