<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <context-param>
      <param-name>org.mule.config</param-name>
      <param-value>/WEB-INF/mule-config.xml</param-value>
    </context-param>

    <context-param>
      <param-name>iptpol.tree_retrieval_service</param-name>
      <param-value>http://localhost:14444/trees</param-value>
    </context-param>

	  <context-param>
      <param-name>iptpol.file_retrieval_service</param-name>
      <param-value>http://localhost:14444/files</param-value>
    </context-param>

    <listener>
      <listener-class>org.mule.config.builders.MuleXmlBuilderContextListener</listener-class>
    </listener>

  <servlet>
    <servlet-name>fileUploadServlet</servlet-name>
    <servlet-class>org.iplantc.iptol.server.FileUploadServlet</servlet-class>
  </servlet>
  <servlet>
     <servlet-name>iptolServiceDispatcher</servlet-name>
    <servlet-class>org.iplantc.iptol.server.IptolServiceDispatcher</servlet-class>
  </servlet>

   <servlet-mapping>
    <servlet-name>fileUploadServlet</servlet-name>
     <url-pattern>*.gupld</url-pattern>
   </servlet-mapping> 
   <servlet-mapping>
     <servlet-name>iptolServiceDispatcher</servlet-name>
    <url-pattern>/discoveryenvironment/iptolservice</url-pattern>
   </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Discoveryenvironment.html</welcome-file>
  </welcome-file-list>

</web-app>
