<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <context-param>
      <param-name>org.mule.config</param-name>
      <param-value>/WEB-INF/mule-config.xml</param-value>
    </context-param>

    <listener>
      <listener-class>org.mule.config.builders.MuleXmlBuilderContextListener</listener-class>
    </listener>

  
  <!--inserted by gwt-maven-->
  <servlet>
    <servlet-name>org.iplantc.iptol.server.FileUploadServlet/discovery/servlet.gupld</servlet-name>
    <servlet-class>org.iplantc.iptol.server.FileUploadServlet</servlet-class>
  </servlet>
  <!--inserted by gwt-maven-->
  <servlet-mapping>
    <servlet-name>org.iplantc.iptol.server.FileUploadServlet/discovery/servlet.gupld</servlet-name>
    <url-pattern>*.gupld</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Discoveryenvironment.html</welcome-file>
  </welcome-file-list>

</web-app>
