/** Add css rules here for your application. */

.iptol_portal {
	background : #ffffff;
}

.iptol_header {
	background :url('./images/header_bg.jpg') no-repeat ;
}
.iptol_toolbar {
	background : #0B9B9D;
	padding : 5px;	
}

.iptol_logo {
	padding-left: 250px;
}

.iptol_footer {
	background :url('./images/foot_graphic.jpg') repeat-x ;
	font-size:12px;
	text-align: center;
}

.upload_Button .gwt_Button {
	padding-top: 5px;
}

.upload_Panel {
	padding-top : 0px;	
}

.reconclie .x-grid3-cell-inner {
	background-color : FFB3B3;
}

.gwt-ToggleButton-up {
 height : 25px;
 color : green;
}

.gwt-ToggleButton-up-hovering {
 height : 25px;
 color : blue;
}

.gwt-ToggleButton-up-disabled {
 height : 25px;
}

.gwt-ToggleButton-down {
 height : 25px;
 color : blue;
}

.gwt-ToggleButton-down-hovering {
 height : 25px;
 color : blue;
}

.gwt-ToggleButton-down-disabled {
 height : 25px;
}

.jobErrorStatus .x-grid3-cell-inner{
	color : red;
	cursor : pointer;
}

.jobpanel .x-grid3-cell-inner{
	cursor : pointer;
}

.selectTraitGrid .x-grid3-cell-inner {
	cursor : pointer;
}

