/** Add css rules here for your application. */

.iplantc-portal {
	background : #ffffff;
}

.iplantc-header {
	background :url('./images/header_bg.jpg') no-repeat ;
}
.iplantc-toolbar {
	background : #0B9B9D;
	padding : 5px;	
}

.iplantc-logo {
	padding-left: 250px;
}

.iplantc-footer {
	background :url('./images/foot_graphic.jpg') repeat-x ;
	font-size:12px;
	text-align: center;
}

.upload-button .gwt-Button {
	padding-top: 5px;
}

.upload-panel {
	padding-top : 0px;	
}

.iplantc-reconcile .x-grid3-cell-inner {
	background-color : FFB3B3;
}

.iplantc-job-error-status .x-grid3-cell-inner{
	color : red;
	cursor : pointer;
}

.iplantc-job-panel .x-grid3-cell-inner{
	cursor : pointer;
}

.iplantc-select-trait-grid .x-grid3-cell-inner {
	cursor : pointer;
}

.gwt-ToggleButton-up {
 height : 25px;
 color : green;
}

.gwt-ToggleButton-up-hovering {
 height : 25px;
 color : blue;
}

.gwt-ToggleButton-up-disabled {
 height : 25px;
}

.gwt-ToggleButton-down {
 height : 25px;
 color : blue;
}

.gwt-ToggleButton-down-hovering {
 height : 25px;
 color : blue;
}

.gwt-ToggleButton-down-disabled {
 height : 25px;
}