<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <context-param>
      <param-name>org.mule.config</param-name>
      <param-value>/WEB-INF/mule-config.xml</param-value>
    </context-param>
    <listener>
      <listener-class>org.mule.config.builders.MuleXmlBuilderContextListener</listener-class>
    </listener>

  <servlet>
    <servlet-name>fileUploadServlet</servlet-name>
    <servlet-class>org.iplantc.de.server.FileUploadServlet</servlet-class>
  </servlet>
  <servlet>
     <servlet-name>deServiceDispatcher</servlet-name>
    <servlet-class>org.iplantc.de.server.DEServiceDispatcher</servlet-class>
  </servlet>
  
   <servlet>
    <servlet-name>fileDownloadServlet</servlet-name>
    <servlet-class>org.iplantc.de.server.FileDownloadServlet</servlet-class>
  </servlet>

   <servlet>
    <servlet-name>sessionManagementServlet</servlet-name>
    <servlet-class>org.iplantc.de.server.SessionManagementServlet</servlet-class>
  </servlet>

   <servlet-mapping>
    <servlet-name>fileUploadServlet</servlet-name>
     <url-pattern>*.gupld</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
    <servlet-name>fileDownloadServlet</servlet-name>
     <url-pattern>*.gdwnld</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
     <servlet-name>deServiceDispatcher</servlet-name>
    <url-pattern>/discoveryenvironment/deservice</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
     <servlet-name>sessionManagementServlet</servlet-name>
    <url-pattern>/discoveryenvironment/sessionmanagement</url-pattern>
   </servlet-mapping>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Discoveryenvironment.html</welcome-file>
  </welcome-file-list>

  <filter>
   <filter-name>Authentication Filter</filter-name>
   <filter-class>org.iplantc.de.server.AuthFilter</filter-class>
  </filter>

  <filter-mapping>
   <filter-name>Authentication Filter</filter-name>
   <url-pattern>/discoveryenvironment/deservice</url-pattern>
  </filter-mapping>
  <filter-mapping>
   <filter-name>Authentication Filter</filter-name>
   <url-pattern>*.gdwnld</url-pattern>
  </filter-mapping>
</web-app>
