<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <!-- database setup -->
  <context-param>
    <param-name>db.url</param-name>
    <param-value>jdbc:h2:mem:phyloviewer;DB_CLOSE_DELAY=-1</param-value>
	<!-- <param-value>jdbc:h2:testdb</param-value> -->
  </context-param>
  <context-param>
    <param-name>db.user</param-name>
    <param-value>phyloviewer</param-value>
  </context-param>
  <context-param>
    <param-name>db.password</param-name>
    <param-value>phyloviewer</param-value>
  </context-param>
  <listener>
    <listener-class>org.iplantc.phyloviewer.server.DatabaseListener</listener-class>
  </listener>
  
  <servlet>
    <servlet-name>H2Console</servlet-name>
    <servlet-class>org.h2.server.web.WebServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>H2Console</servlet-name>
    <url-pattern>/console/*</url-pattern>
  </servlet-mapping>
	
  <!-- Servlets -->
  <servlet>
    <servlet-name>parseTree</servlet-name>
    <servlet-class>org.iplantc.phyloviewer.server.ParseTree</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>parseTree</servlet-name>
    <url-pattern>/parseTree</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<load-on-startup>1</load-on-startup>
    <servlet-name>fetchTree</servlet-name>
    <servlet-class>org.iplantc.phyloviewer.server.FetchTreeImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>fetchTree</servlet-name>
    <url-pattern>/phyloviewer/fetchTree</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>treeImage</servlet-name>
    <servlet-class>org.iplantc.phyloviewer.server.TreeImageImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>treeImage</servlet-name>
    <url-pattern>/phyloviewer/treeImage</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<load-on-startup>2</load-on-startup>
    <servlet-name>remoteNode</servlet-name>
    <servlet-class>org.iplantc.phyloviewer.server.RemoteNodeServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>remoteNode</servlet-name>
    <url-pattern>/phyloviewer/remoteNode</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<load-on-startup>3</load-on-startup>
    <servlet-name>remoteLayout</servlet-name>
    <servlet-class>org.iplantc.phyloviewer.server.RemoteLayoutServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>remoteLayout</servlet-name>
    <url-pattern>/phyloviewer/remoteLayout</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>renderTree</servlet-name>
    <servlet-class>org.iplantc.phyloviewer.server.RenderTree</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>renderTree</servlet-name>
    <url-pattern>/renderTree</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Phyloviewer.html</welcome-file>
  </welcome-file-list>

</web-app>
